html {
    font-family: Roboto;
    background-image: url("firecrackers.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
    
.active { 
    visibility: visible;
}

.hidden { 
    visibility: hidden;
}

.inline {
    height: 100vh;
    display: inline-block;
}

#menu {
    background-color: tomato;
    width: 200px;
    height: 130%;
    position: fixed;
    color: white;
	margin-left: -10px;
    margin-top: -50px;
        padding: 0;
     
}

#menu h2 {
    margin-top: 10px;
	margin-bottom: 10px;
	font-family: Roboto;
    font-size: 37px;
}

#prof img {
    height: 250px;
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
}

#menu div {
    text-align: center;
    font-size: 25px;
}

#menu span div {
    height: 7vh;
    padding-top: 1vh;
    text-align: center;

}

#menu span div:hover {
    cursor: pointer; 
    background-color: red;
}

#contact { 
    border-top: 2px solid white;
}

#contact p { 
    font-size: 16px;
}

#resume a {
    text-decoration: none; 
    color: white;
    
}

#stuff { 
    position: relative;
}


#stuff h4 {
    line-height: 50%;
	margin: 0px;
}


#about {
    position: fixed;
    margin-left: 250px;
    margin-right: 25px;
    margin-top: 45px;
    z-index: 1;
}

#about p {
	font-size: 18px;
    padding-right: 45px;
}

#baby img {
    height: 300px; 
    width: 300px;
    border-radius: 50%;
    float: right;
	margin-right: 100px;
	margin-top: 100px;

}

#container { 
    margin: 0;
}

#portfolio { 
    margin-left: 200px;
    padding-top: 15px;
    padding-left: 20px;
    position: absolute;
    z-index: 0;
}

#portfolio div { 
    height: 150px;
    width: 850px;
    border-radius: 5px;
    margin-left: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid white;
}

.ready:hover { 
    border: 2px solid tomato;
    cursor: pointer;
}


#menu a { 
    text-decoration: none;
    color: white;
}

#portfolio  { 
    
    margin-top: 45px;
}

#portfolio img { 
    height: 150px;
    width: 150px;
    border-radius: 5px;
    position: relative;
    margin: 0;
    margin-left: 5px;
    padding: 0px;
    float: right;
    opacity: 1;
}


#portfolio h1 { 
    font-size: 50px;
    padding-bottom: 10px;

}

#complete div:hover {

    border: 2px solid tomato;

}

#portfolio h2 { 
    font-size: 40px;
    margin-bottom: 0px;
}

.role { 
    font-style: italic;
    line-height: 50%;
    color: tomato;
}

#portfolio h3 { 
    padding-top: 10px;
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 50%;
}

#portfolio p { 
    font-size: 18px;
}


#raidin {
    margin-left: 250px;
    padding-top: 15px;
    padding-right: 25px;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#raidin h4 { 
    line-height: 5px;
}

#raidin img { 
    height: 200px;
    width: 200px;
    float: right;
}

#raidin a { 
    color: tomato;
    font-style: bold;
}

#vets img { 
    border-left: 1px solid blue;
}

#food { 
    opacity: 0.5;
}

#ptci {

    position: fixed;
    z-index: 4;
    margin-left: 225px;
    margin-right: 30px;
}


#ptci img { 
    height: 200px;
    width: 300px;
    float: right;
    margin-left: 15px;
}

#eyewitness { 
    margin-left: 225px;
    margin-right: 30px;
    position: fixed;
    height: 100vh;

}

#eyewitness img { 
    height: 450px;
    width: 250px;
    float: right;
    margin-left: 25px;
}

#resume div { 
    margin-left: 250px;
}

#resume img { 
    height: 900px;
    width: 700px;
    position: relative;
    margin-left: 300px;
    margin-top: 25px;
    z-index: 3;
}

